#backgroundsanpham{
	background-color:rgba(212, 237, 218, 0.36)!important;
	
}
.textblack{
	color:black;
}

#imgbanner{
	height:100px;
	width:1000px;
}
.canhgiua{
	align-items: center;
}
#textkhuyenmai{
	width: 950px;
	color: orange;
}
#imagechitiet{
	width: 380px;
	height: 380px;
	margin-left: -15px;
}
.formchitiet{
	background-color: #faebd745;
}
a{
	text-decoration: none;
}
.footertt{
	font-size: 10px;
}